body {
	margin: 0;
	font: 15px/1.9em 'Roboto', sans-serif;
	color: #333;
	overflow-x: hidden;
	width: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.img-r {
	max-width: 100%;
	height: auto;
}

.side-menu {
	background: #2f46b0;
	color: #fff;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    width: 120px;
    transform: translateX(-100%);
    transition: all 0.25s ease-in-out;
}

.side-menu ul {
	margin: 0;
	padding: 0;
}

.side-menu li {
	list-style: none;
}

.side-menu li a {
	display: flex;
	justify-content: center;
	padding: 25px;
}

.side-menu li a img {
	width: 30px;
	opacity: 0.5;
	transition: all 0.25s ease-in-out;
}

.side-menu li a:hover img {
	opacity: 1;
}

.side-menu .brand {
	background: #21bdca;
	margin-bottom: 100px;
	height: 110px;
}

.side-menu .brand a {
	text-decoration: none;
	color: #a9e6e9;
	font-weight: bold;
	font-size: 60px;
	line-height: 110px;
	text-align: center;
	display: block;
}

.content {
	display: flex;
	min-height: 100vh;
}

.overview {
	background: #273dac;
	color: #fff;
	flex: 0 0 460px;
	padding: 30px;
}

.data {
	background: #eef1f6;
	color: #747579;
	padding: 30px;
}

.data h2 {
	color: #333;
}

@media screen and (min-width: 1024px) {
	.side-menu {
	    transform: translateX(0%);
	}
	.content {
		margin-left: 120px;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}
	[class^="col"] {
		margin: 0 10px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.col-lg-6 {
		flex: 0 0 calc(50% - 20px);
	}
}

@media screen and (min-width: 1399px) {
	.col-xl-4 {
		flex: 0 0 calc(33.333% - 20px);
	}
	.col-xl-8 {
		flex: 0 0 calc(66.666% - 20px);
	}
}