body {
	margin: 0;
	font: 15px/1.9em 'Roboto', sans-serif;
	color: #333;
	overflow-x: hidden;
	width: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.img-r {
	max-width: 100%;
	height: auto;
}

.side-menu {
	background: #2f46b0;
	color: #fff;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    width: 120px;
    transform: translateX(-100%);
    transition: all 0.25s ease-in-out;
}

.side-menu ul {
	margin: 0;
	padding: 0;
}

.side-menu li {
	list-style: none;
}

.side-menu li a {
	display: flex;
	justify-content: center;
	padding: 25px;
}

.side-menu li a img {
	width: 30px;
	opacity: 0.5;
	transition: all 0.25s ease-in-out;
}

.side-menu li a:hover img {
	opacity: 1;
}

.side-menu .brand {
	background: #21bdca;
	margin-bottom: 100px;
	height: 110px;
}

.side-menu .brand a {
	text-decoration: none;
	color: #a9e6e9;
	font-weight: bold;
	font-size: 60px;
	line-height: 110px;
	text-align: center;
	display: block;
}

.content {
	display: flex;
	min-height: 100vh;
}

.overview {
	background: #273dac;
	color: #eef3f9;
	flex: 0 0 460px;
	padding: 30px;
}

.overview .user {
	text-align: center;
	margin-top: 50px;
}

.overview .user img.avatar {
	border-radius: 100%;
	max-width: 150px;
}

.overview .user .name {
	font-weight: 500;
	font-size: 2em;
	margin: 30px 0;
}

.overview .user .balance {
	font-weight: 500;
	font-size: 3em;
	margin-bottom: 100px;
}

.overview .user .balance span {
	font-weight: 400;
	font-size: 0.75em;
}

.overview .card {
	width: 100%;
	height: 250px;
	border-radius: 10px;
	background: #5472ea;
	display: block;
	margin: 30px 0;
	position: relative;
	text-align: left;
	padding: 30px 50px;
}

.overview .card.sec {
	background: #3d4eaa;
}

.overview .card .logo {
	position: absolute;
	bottom: 35px;
	right: 30px;
	width: 100px;
}

.overview .card .chip {
	width: 65px;
	height: 45px;
	background: #e8ebf0;
	border-radius: 5px;
	display: block;
	margin-top: 20px;
	margin-bottom: 35px;
}

.overview .card .number {
	font-size: 1.7em;
	font-family: 'Courier Prime', monospace;
	margin-bottom: 20px;
}

.overview .card .exp {
	font-size: 1em;
	font-family: 'Courier Prime', monospace;
	margin: 0 0 5px;
	line-height: 1.2em;
}

.overview .card .name {
	font-size: 1.3em;
	font-family: 'Courier Prime', monospace;
	margin: 0;
	line-height: 1.2em;
}

.data {
	background: #eef1f6;
	color: #747579;
	padding: 30px;
	flex: 0 0 calc(100% - 460px);
}

.data h2 {
	color: #333;
	font-size: 3em;
	margin: 0;
}

@media screen and (min-width: 1024px) {
	.side-menu {
	    transform: translateX(0%);
	}
	.content {
		margin-left: 120px;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}
	[class^="col"] {
		margin: 0 10px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.col-lg-6 {
		flex: 0 0 calc(50% - 20px);
	}
}

@media screen and (min-width: 1399px) {
	.col-xl-4 {
		flex: 0 0 calc(33.333% - 20px);
	}
	.col-xl-8 {
		flex: 0 0 calc(66.666% - 20px);
	}
}