@font-face {
	font-family: Blowbrush;
	src: url("../fonts//blowbrush.otf") format("opentype");
}

:root {
	--cl1: #c6d92f;
}

body {
	margin: 0;
	font: 15px/1.9em 'Roboto', sans-serif;
	color: #333;
	overflow-x: hidden;
	width: 100%;
	background: #111f33;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.img-r {
	max-width: 100%;
	height: auto;
}

.center {
	text-align: center;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.container {
	padding: 0 20px;
	max-width: 1400px;
	margin: 0 auto;
}

.loader {
	opacity: 0;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:fixed;
	width: 300px; 
	height: 300px; 
	display: block;
	animation: loader-spinning 2s linear 1;
	z-index: 100;
	background-image: url("https://images.pexels.com/photos/1680140/pexels-photo-1680140.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	overflow: hidden;
}

body.loaded .loader {
	visibility: hidden;
}

.page {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

body.loaded .page {
	opacity: 1;
}

@keyframes loader-spinning {
	from {
		opacity: 1;
		transform: rotate(90deg);
	}
	to {
		opacity: 0;
		transform: rotate(-180deg);
	}
}

header.main {
	position: absolute;
	z-index: 100;
	width: 100%;
	padding: 20px 0;
}

header.main .container {
	max-width: 1600px;
}

header.main a {
	text-decoration: none;
	color: #fff;
}

header.main a.logo {
	display: flex;
	margin-top: 10px;
}

header.main a.logo img {
	height: 85px;
	margin-right: 15px;
	margin-top: -10px;
}

header.main a.logo .text {
	line-height: 2.2em;
}

header.main a.logo .text .main {
	font-family: 'Blowbrush', cursive;
	font-size: 55px;
	display: block;
}

header.main a.logo .text .sub {
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	display: block;
	color: var(--cl1);
}

header.main .nav-wrapper {
	display: none;
}

body.open header.main .nav-wrapper {
	display: block;
}

header.main .nav-wrapper ul {
	margin: 0;
	padding: 0;
}

header.main .nav-wrapper ul li {
	list-style: none;
}

header.main .nav-wrapper ul li a {
	display: block;
	line-height: 80px;
	margin: 0 20px;
	font-size: 1.2em;
	font-weight: 500;
	text-align: center;
}

header.main .nav-wrapper ul li.button a {
	background: var(--cl1);
	padding: 5px 20px;
	border-radius: 50px;
	color: #333;
	margin-top: -5px;
	font-weight: bold;
	transition: all 0.25s ease-in-out;
}

header.main .nav-wrapper ul li.button a:hover {
	background: #fff;
}

header.main .nav-wrapper nav.top ul li a {
	line-height: 25px;
	font-size: 1em;
}

@media (min-width: 960px) {
	header.main {
		margin-top: 40px;
	}
	header.main .container {
		display: flex;
	}
	header.main .nav-wrapper {
		display: block;
		margin-left: auto;
	}
	header.main .nav-wrapper ul {
		display: flex;
		justify-content: flex-end;
	}
	header.main .nav-wrapper ul li a {
		display: inline-block;
		position: relative;
	}
	header.main nav.main ul li a:after {
		content: "";
		width: 100%;
		height: 2px;
		position: absolute;
		background: var(--cl1);
		left: 0;
		bottom: 25px;
		transition: all 0.25s ease-in-out;
		transform: scale(0);
	}
	header.main nav.main ul li a:hover:after {
		transform: scale(1);
	}
}

.burger {
	width: 55px;
	height: 45px;
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
}

.burger span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #444;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
	top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
	top: 12px;
}

.burger span:nth-child(4) {
	top: 24px;
}

.burger.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.burger.open span:nth-child(2) {
	transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
	transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.nav-toggle {
	position: absolute;
	top: 25px;
	right: 20px;
	z-index: 9999;
	margin-left: auto;
	text-align: center;
	line-height: 80px;
	font-weight: bold;
	cursor: pointer;
}

@media (min-width: 960px) {
	.nav-toggle {
		display: none;
	}
}

.emotion {
	width: 100%;
	min-height: 600px;
	height: 100vh;
	background-size: cover;
	position: relative;
	background-position: top;
}

.emotion:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(-180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.emotion .text {
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%,-50%);
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,0.25);
	max-width: 1600px;
	width: 100%;
}

.emotion .text h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3em;
	line-height: 1em;
	display: block;
	margin: 20px 0;
}

.emotion .text h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	display: block;
	line-height: 1.2em;
	margin: 20px 0;
}

@media (min-width: 960px) {
	footer.main .row {
		display: flex;
		margin-left: -20px;
		margin-right: -20px;
	}

	footer.main .row .col {
		width: 50%;
		margin: 20px;
	}
}