body {
	margin: 0;
	font: 16px/1.9em 'Roboto', sans-serif;
	background: #fff;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

:root {
	--cla: #74c947;
	--em1: #17a77b;
	--em2: #74c947;
	--fd: #363f41;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 700;
	line-height: 1;
}

p {
	margin: 1rem 0;
}

p.lead {
	font-size: 1.25rem;
	font-weight: 300;
}

p.small {
	font-size: 0.8rem;
	font-weight: 300;
	line-height: 1.8em;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

a.button {
	display: inline-block;
	padding: 12px 25px;
	line-height: 1.6em;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	background: #fff;
	border-radius: 50px;
	color: var(--cla);
	font-weight: bold;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

a.button.cta {
	background: #05b169;
	color: #fff;
}

a.more {
	font-weight: 500;
	color: var(--cla);
	text-decoration: none;
	font-size: 1.25rem;
	margin-top: 15px;
	margin-bottom: 15px;
}

h2 {
	font-size: 2.25rem;
	font-weight: 500;
}

.section [class^=container],
section [class^=container] {
	padding-top: 50px;
	padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
	.section [class^=container],
	section [class^=container] {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.row {
		display: flex;
		margin-left: -20px;
		margin-right: -20px;
	}
	[class*="col"] {
		padding: 0 20px;
	}
	.col-md-6 {
		flex: 0 0 calc(50% - 40px);
	}
}

header.main {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	z-index: 100;
}

header.main a {
	text-decoration: none;
	color: #fff;
}

header.main a.logo {
	font-weight: bold;
	font-size: 2em;
	line-height: 80px;
	letter-spacing: -2px;
}

header.main a.logo .icon {
	background-image: url("../img/leaf.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 35px;
	width: 34px;
	display: inline-block;
	top: 5px;
	position: relative;
}

header.main nav {
	display: none;
	margin-left: auto;
}

header.main nav ul {
	padding: 0;
	margin: 0;
}

header.main nav ul li {
	list-style: none;
}

header.main nav ul li a {
	display: block;
	line-height: 80px;
	padding: 0 30px;
	font-weight: 700;
}

@media screen and (min-width: 768px) {
	header.main .container {
		display: flex;
	}
	header.main nav {
		display: block;
	}
	header.main nav ul {
		display: flex;
	}
}

.emotion {	
	background-image: linear-gradient(65deg,var(--em1),var(--em2));
	color: #fff;
	padding-top: 50px;
	position: relative;
	z-index: 1;
}

.emotion h1 {
	font-size: 2.5rem;
	margin-top: 100px;
}

.emotion h1 span {
	font-weight: 100;
}

.emotion ul {
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 50px;
}

.emotion ul li {
	list-style: none;
}

.emotion a.button {
	width: 220px;
}

.emotion .iphone {
	margin-top: 50px;
}

@media screen and (min-width: 768px) {
	.emotion h1 {
		font-size: 3.7rem;
	}
	.emotion .iphone {
		margin-top: 0;
		margin-bottom: -155px;
	}
}

.iphone {
	border: 1px solid #edf4f8;
	margin: 0 auto;
	position: relative;
	background: #fff;
	max-width: 302px;
	border-radius: 36px;
	padding: 55px 0;
	box-shadow: inset 0 4px 10px 1px #fff, inset 0 0 6px 0 rgba(66,77,86,.5), 0 2px 0 #aeb5bb, 0 20px 50px -25px rgba(0,0,0,.5);
}

.iphone:before {
	content: '';
	position: absolute;
	background: #e3e8eb;
	margin: -25px auto 0;
	width: 45px;
	height: 4px;
	left: 0;
	right: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	border-radius: 30px;
}

.iphone:after {
	content: '';
	position: absolute;
	top: 30px;
	margin-left: -45px;
	background: #e3e8eb;
	left: 50%;
	width: 8px;
	height: 8px;
	box-shadow: 0 0 0 2px rgba(0,0,0,.03);
	display: block;
	border-radius: 50%;
}

.iphone .screen {
	width: 90%;
	margin: 0 auto;
}

.iphone .screen img,
.iphone .screen video {
	width: 100%;
	vertical-align: middle;
}

.intro .row,
.intro .container {
	height: 100%;
}

.intro .col {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro .col:first-child {
	flex: 0 0 40%;
}

.intro .col:last-child {
	flex: 0 0 60%;
}

.intro .list-container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.intro .list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	z-index: 2;
	border-radius: 4px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.13);
	background-color: #fff;
	border: solid 1px #f1f1f1;
	max-width: 480px;
}

.intro .list .item-container {
	padding: 30px 25px 25px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #f5f5f5;
}

.intro .list .icon {
	border-radius: 50%;
	height: 36px;
	width: 36px;
	min-width: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: -8px 0 0 10px;
}

.intro .list .icon img {
	width: 100%;
	max-width: 25px;
}

.intro .list .copy-container {
	padding-left: 26px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.intro .list p.title {
	font-weight: 600;
	color: #363f41;
	margin: 0 0 10px;
}

.intro .list p.description {
	color: #363f41;
	margin: 0;
	line-height: 1.4em;
	font-weight: 300;
}

.security-section {
	background-color: #f5f5f5;
	text-align: center;
}

.security-section .row,
.security-section .container {
	height: 100%;
}

.security-section [class*="col"] {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.security-section .icon {
	background: #fff;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.security-section .icon img {
	width: 100px;
}

@media screen and (min-width: 768px) {
	.security-section [class*="col"] {
		padding: 0 100px;
	}
	.security-section .icon {
		width: 300px;
		height: 300px;
	}
	.security-section .icon img {
		width: 150px;
	}
}

footer.main {
	text-align: center;
	padding: 50px 0;
	font-size: .9rem;
}

footer.main.dark {
	background: var(--fd);
	color: #fff;
}

footer.main nav ul {
	margin: 0;
	padding: 0;
}

footer.main nav li {
	list-style: none;
}

footer.main nav li a {
    color: #ccc;
    text-decoration: none;
    transition: all .2s ease-out;
    display: inline-block;
}

footer.main nav li a:hover {
	color: #fff;
}

@media screen and (min-width: 768px) {
	footer.main {
		text-align: left;
	}
	footer.main .row {
		display: flex;
	}
	footer.main .col {
		flex: 0 0 25%;
	}
}