body {
	margin: 0;
	font: 16px/1.9em 'Roboto', sans-serif;
	background: #fff;
	color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1;
}

p {
    margin: 1rem 0;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

a.button {
	display: inline-block;
	padding: 10px 20px;
	line-height: 1.6em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #fff;
	border-radius: 3px;
	color: #333;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

a.button.cta {
	background: #3ecf8e;
	color: #fff;
}

.section [class^=container],
section [class^=container] {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
	.section [class^=container],
	section [class^=container] {
    	padding-top: 90px;
    	padding-bottom: 90px;
	}
	.row {
		display: flex;
		margin-left: -20px;
		margin-right: -20px;
	}
	[class*="col"] {
    	margin: 0 20px;
	}
	.col-md-6 {
		flex: 0 0 50%;
	}
}

header.main {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
}

header.main a {
	text-decoration: none;
	color: #fff;
}

header.main a.logo {
	font-weight: bold;
	font-size: 2em;
	line-height: 80px;
	letter-spacing: -2px;
}

header.main nav {
	display: none;
	margin-left: auto;
}

header.main nav ul {
	padding: 0;
	margin: 0;
}

header.main nav ul li {
	list-style: none;
}

header.main nav ul li a {
	display: block;
	line-height: 80px;
	padding: 0 30px;
	font-weight: 700;
}

@media screen and (min-width: 768px) {
	header.main .container {
		display: flex;
	}
	header.main nav {
		display: block;
	}
	header.main nav ul {
		display: flex;
	}
}

.emotion {
	background-image: -webkit-linear-gradient(-86deg, #7121ff 0%, #21d4fd 100%);
	color: #fff;
	padding: 50px 0;
}

.emotion h1 {
	font-size: 3rem;
}

.emotion h1 span {
	font-weight: 100;
}

.emotion ul {
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 50px;
}

.emotion ul li {
	list-style: none;
}

.emotion ul li:first-child a {
	margin-right: 23px;
}

@media screen and (min-width: 768px) {
	.emotion h1 {
		font-size: 4rem;
	}
}

footer.main {
	padding: 50px 0;
	font-size: .9rem;
}

footer.main.dark {
	background: #181715;
	color: #fff;
}